body {
  background-color: #333;
}
.mi-texto {
  background: linear-gradient(
    rgba(2, 0, 36, 1) 8%,
    rgba(9, 9, 121, 1) 19%,
    rgba(7, 54, 151, 1) 31%,
    rgba(43, 165, 182, 1) 49%,
    rgba(4, 170, 193, 1) 57%,
    rgba(0, 212, 255, 1) 100%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: Caramel;
}

@font-face {
  font-family: Caramel;
  src: url(caramel.ttf);
}
